*{
    margin: 0;
    border:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inconsolata', monospace, sans-serif;
}

body{
    background-color:#a09ee9;
}

h1.title{
    text-align: center;
    margin:0  auto;
    color:#275680;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing:-5px;
    position: sticky;/*continuar na tela quando o top foi 0px*/
    top:0px;
    background-color:#a09ee9;
    padding:10px 0 0 0 ;
    z-index: 10;
}
small{
    display:none;
}

main.all{
    width: min(95% , 1200px);
    margin:2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section.countryInformation{
    width: 90%;
    margin-bottom: 20px;
    display:flex;
    flex-direction:column;
}
h2{
    font-size: 2.5rem;
    letter-spacing:-3px;
    color:#27568054;
    margin-bottom:5px;
    
}    
h2 span{
    font-size: 1.1rem;
    margin:0 5px;
    color:#3B719F;
    letter-spacing:-1px;
}
.boxes{
    display:flex;
    flex-direction:column;
}
.boxInformation{
    display:flex;
    flex-direction:column;
    padding:10px;
    background-color:#D8DCD6;
}
.boxInformation:nth-child(1){
    border-radius:10px 10px 0 0;
}
.boxInformation:nth-child(3){
    border-radius:0 0 10px 10px ; 
}

.titleInformation{
    font-size:1.2rem;
    font-weight: 700;
}
.information{
    align-self: flex-end;
    font-size:2.8rem;
    width:auto;
    color:#3B719F;
    letter-spacing: -5px;
}

/*### DESKTOP VERSION ###*/

@media (min-width:768px){
    h1.title{
        font-size:4.5rem;
    }
    small{
        display:block;
        text-align:center;
        font-weight: bolder;
        color:#275680;
        font-size: .9rem;
    }
    h2{
        font-size: 3rem;
    }
    .countryInformation{
        padding:1% 3%;
    }
    .boxes{
        flex-direction:row;
        justify-content:space-between;
    }
    .boxes div.boxInformation{
        width: 29%;
        height: 8.8rem;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 2px 2px 8px 5px rgb(128, 128, 128);
        transform:skew(-20deg);;
        -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
    }
    .boxInformation:nth-child(1){
        border-bottom: solid 10px #275680;
    }
    .boxInformation:nth-child(2){
        border-bottom: solid 10px #008116;

    }
    .boxInformation:nth-child(3){
        border-top: solid 10px #920202;
    }
    .titleInformation{
        font-size:1.4rem;
        font-weight: 700;
        text-align: left;
    }
    .information{
        display:flex;
       align-items:flex-end;
        height: 100%;
        font-size:3.5rem;
        opacity: .7;
        font-weight: 600;
    }
}