*{
    margin: 0;
    border:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inconsolata', monospace, sans-serif;
}

body{
    background-color:#a09ee9;
}

h1.title{
    text-align: center;
    margin:0  auto;
    color:#275680;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing:-5px;
    position: sticky;/*continuar na tela quando o top foi 0px*/
    top:0px;
    background-color:#a09ee9;
    padding:10px 0 0 0 ;
}

main.all{
    width: min(95% , 1200px);
    margin:5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section.countryInformation{
    width: 90%;
    margin-bottom: 20px;
    display:flex;
    flex-direction:column;
}
h2{
    font-size: 2.5rem;
    /* background-color:rgb(51, 255, 0); */
    letter-spacing:-3px;
    color:#27568054;
    margin-bottom:5px;
    
}    
h2 span{
    font-size: 1.1rem;
    margin:0 5px;
    color:#3B719F;
    letter-spacing:-1px;
}
.boxes{
    display:flex;
    flex-direction:column;
}
.boxInformation{
    /* border: solid 1px black; */
    display:flex;
    flex-direction:column;
    padding:5px;
    background-color:#D8DCD6;
    /* border-radius: 10px; */
}
.boxInformation:nth-child(1){
    border-radius:10px 10px 0 0;
}
.boxInformation:nth-child(3){
    border-radius:0 0 10px 10px ; 
}

.titleInformation{
    font-size:1.4rem;
    font-weight: 700;
}
.information{
    /* background-color:blue; */
    align-self: flex-end;
    font-size:2.8rem;
    width:auto;
    color:#3B719F
}